form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5vh;
}
p{
    text-align: center;
    color: var(--tertiary-color) ;
}
.contact-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh auto;
    width: 15vh;
}
.submit-button-container{
    margin-top: 5vh;
}


