@import './Index.css';

.pangea-logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pangea-logo-circle {
  position: absolute;
  top: 60%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  z-index: -1;
}

.pangea-logo-circle-1 {
  width: 50%;
}

.pangea-logo-circle-2 {
  width: 80%;
}

.pangea-logo-circle-3 {
  width: 100%;
}


.pangea-logo-text {
  font-family: var(--font-serif);
  font-size: var(--font-size-2xl);
  font-weight: medium;
  color: var(--primary-color);
  font-style: italic;
}